# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test folder

# Build folders
test/test_Infer2Features/build
test/build_deepsort_engine/build
detections/yolov5_tensorrtx/build
build

# VSC config
.vscode

# plugins
plugins/yolov5n
plugins/deep_sort
plugins/efficient_pose